<!DOCTYPE html>
<html>

<head>
    <title>Oldest Album</title>
</head>

<body style="background-color: rgb(255,196,178); margin: 0px;">

    <nav
        style="color: white; background-color: white; padding: 2rem;">
        <center
            style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-style: italic; font-size: larger;">
            WHICH IS THE OLDER ALBUM?
            <button style="font-size: large;"onclick="reset()"> ⟳ </button>
           
        </center>
        <center
            style="color: black; font-family:Verdana, Geneva, Tahoma, sans-serif; font-style: italic; font-size: larger;">
            <h1 id="score"> 0 </h1>
        </center>
        
    </nav>
    <style>
        img {
            margin-top: 3rem;
            border: 1rem solid white;
        }
    </style>
    <center>
        <img src="{{image1}}">
        <img style="margin-left: 5rem" src="{{image2}}">
    </center>


    <center>
        <button class="button"
            style="margin-top: 1rem;background-color:white; border-color: black; size: fixed; width: 21rem;  padding-bottom: 1.5rem; padding-top:1.5rem; font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: italic; border-width: 5px; "
            type="button" class="button1"onclick="leftAlbum()"><b>{{name1}} </b><div>by {{artist1}}</div></button>
        <button
            class="button" style="margin-left: 5rem; background-color:white; border-color: black; size: fixed; width: 21rem; padding-bottom: 1.5rem; padding-top:1.5rem;font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: italic; border-width: 5px; "
            type="button" onclick="rightAlbum()"><b>{{name2}} </b><div>by {{artist2}}</div></button>
    </center>

</body>



</html>
<script>
    var album1 = {{ album1 | tojson }};
    var album2 = {{ album2 | tojson }};
</script>

<script>
    
    score = localStorage.getItem("score");
    document.getElementById("score").innerHTML = score;

    function leftAlbum() {
        if (album1["release_date"] < album2["release_date"]) {
            score = localStorage.getItem("score");
            score = parseInt(score)
            score = score + 1;
            document.getElementById("score").innerHTML = score;
            localStorage.setItem("score", score);
            location.reload()
        } else  {
            location.reload()
            alert("Incorrect!")
            localStorage.setItem("score", 0);
            
        }
    }
    function rightAlbum() {
        if (album1["release_date"] > album2["release_date"]) {
            score = localStorage.getItem("score");
            score = parseInt(score)
            score = score + 1;
            document.getElementById("score").innerHTML = score;
            localStorage.setItem("score", score);
            location.reload()
        } else  {
            location.reload()
            alert("Incorrect!")
            localStorage.setItem("score", 0);
            
        }
    }

    function reset() {
        location.reload()
        localStorage.setItem("score", 0);
    }
</script>
